{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}

{% block content %}
	{% if validlink %}
		<!--<h1>Nueva contraseña</h1>
		<form method="post">
			{% csrf_token %}

			{{ form.new_password1.errors }}
			<label for="id_new_password1">Nueva contraseña:</label>
			{{ form.new_password1 }}

			{{ form.new_password2.errors }}
			<label for="id_new_password2">Confirme contraseña:</label>
			{{ form.new_password2 }}

			<input type="submit" value="Cambiar mi contraseña" />
		</form>
		-->

		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h2 class="panel-title">Nueva contraseña</h2>
		  	</div>
		  	<div class="panel-body">
				<form method="post">
					{% csrf_token %}

					{{ form.new_password1.errors }}
					<label for="id_new_password1">Nueva contraseña:</label>
					{{ form.new_password1 }}

					<br>

					{{ form.new_password2.errors }}
					<label for="id_new_password2">Confirme contraseña:</label>
					{{ form.new_password2 }}

					<br>

					<input type="submit" value="Cambiar mi contraseña" />
				</form>
		  	</div>
		</div>
	{% else %}
		<div class="panel panel-danger">
			<div class="panel-heading">
		    	<h2 class="panel-title">¡Error!</h2>
		  	</div>
		  	<div class="panel-body">
		    	<h4 class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO</h4>
		  	</div>
		</div>

		<!--<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>-->

	{% endif %}
{% endblock %}

