{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
	<!--
	<h1 class="text-center">Su contraseña se reestableció correctamente</h1>

	<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
	-->

	<div class="panel panel-success">
		<div class="panel-heading">
	    	<h4 class="text-center">Su contraseña se reestableció correctamente</h4>
	  	</div>
	  	<div class="panel-body">
	    	<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
	  	</div>
	</div>


{% endblock %}